legend {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 18px;
}

section {
    margin: 15px;
}

label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputContainer section{
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputContainer label{
    margin-top: 10px;
    margin-bottom: 7px;
}

.inputContainer input{
    width: 60%;
    color:white;
    border-radius: 12px;
    padding: 6px;
    border: none;
}

.submitForm {
    padding: 15px;
    background-color: #142d2c;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease;
    font-size: 18px;
    font-weight: bold;
}

.submitForm:hover{
    background-color: #9fd3d1;
    color: #142d2c;
}

.submitContainer{
  text-align: end;
}
